<div class="row sidebar">
  <div class="col test-center mt-4" id="form">
    <%= form_with url:search_path, method: :get, local: true do |f| %>
      <%= f.text_field 'search[value]', class: "text-field" %>
      <%= f.select 'search[model]', options_for_select({ "Post" => "post", "User" => "user" }) %>
      <%= f.select 'search[how]', options_for_select({ "キーワード" => "partical", "完全一致" => "match" }) %>
      <%= f.submit :'検索' %>
    <% end %>
  </div>
</div>