<div class="contaoner-fluid">
  <div class="row py-5">
    <div class="col-3">
      <div class="row sidebar">
        <%= render 'users/sidebar' %>
      </div>
    </div>
    <div class="col-6">
    <% if @model == "user" %>
    <% @datas.each do |user| %>
      <div class="row">
        <div class="col-2"><%= attachment_image_tag user, :profile_image, :fill, 50, 50, format: 'jpeg', class: "rounded-circle", fallback: "no_image.jpg", size: "50x50" %></div>
        <div class="col-6">
          <div class="row"><%= link_to user.name, user_path(user.id) %></div>
          <div class="row"><%= user.introduction %></div>
        </div>
        <% if user.id == current_user.id %>
        <% else %>
        <div class="col-4">
          <% if current_user.following?(user) %>
            <%= link_to user_relationships_path(user.id), class: 'btntextchange', method: :delete do %>
              <span>フォロー中</span>
              <span>フォロー解除</span>
            <% end %>
          <% else %>
            <%= link_to user_relationships_path(user.id), class: "follow-btn", method: :post do %>
              <span>フォロー</span>
              <span>フォローする</span>
            <% end %>
          <% end %>
        </div>
        <% end %>
      </div>
      <hr>
      <% end %>
    <% elsif @model == "post" %>
      <% @datas.each do |post| %>
      <div class="row">
        <div class="col-2"><%= attachment_image_tag post.user, :profile_image, :fill, 60, 60, class: "rounded-circle", fallback: "no_image.jpg", size: "50x50" %></div>
        <div class="col-2"><%= post.user.name %></div>
      </div>
      <div class="row">
        <div class="col-2"></div>
        <div class="col-10"><%= attachment_image_tag post, :image, format:'jpg', width: '100%', height: '80%' %></div>
      </div>
      <div class="row">
        <div class="col-2"></div>
        <div class="col-10 my-4"><%= link_to post.introduction, post_path(post.id) %></div>
      </div>
      <div class="row">
        <div class="col-3"></div>
        <div class="col-3">
          <%= link_to '', post_path(post.id), class: 'far fa-comment' %> <%= post.post_comments.count %>
        </div>
        <div class="col-3 like-btn<%= post.id %>">
          <%= render partial: 'likes/like-btn', locals: {post: post} %>
        </div>
        <div class="col-3"></div>
      </div>
      <hr>
      <% end %>
    <% end %>
    </div>
    <div class="col-3 d-none d-lg-block">
      <div class="row sidebar">
        <div class="col test-center mt-4">
          <%= form_with url:search_path, method: :get, local: true do |f| %>
            <%= f.text_field 'search[value]' %>
            <%= f.select 'search[model]', options_for_select({ "Post" => "post", "User" => "user" }) %>
            <%= f.select 'search[how]', options_for_select({ "キーワード" => "partical", "完全一致" => "match" }) %>
            <%= f.submit :'検索' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>