<div class="container-fluid min-vh-100">
  <div class="row py-5">
    <div class="col-2 col-lg-3">
      <div class="row sidebar">
        <div class="col">
          <%= render 'users/sidebar' %>
        </div>
      </div>
    </div>
    <div class="col-9 col-lg-6">
      <div class="row pb-4">
        <div class="col">
          <% new_users = @datas.count - 1 %>
          <h3><%= new_users %>名のユーザーと繋がりましょう！</h3>
        </div>
      </div>
    <% if @model == "user" %>
    <% @datas.each do |user| %>
      <div class="row">
        <div class="col-12 col-sm-2">
          <%= link_to user_path(user.id) do %>
          <%= attachment_image_tag user, :profile_image, :fill, 50, 50, format: 'jpeg', class: "rounded-circle", fallback: "no_image.jpg", size: "50x50" %>
          <% end %>
        </div>
        <div class="col-6">
          <div class="row">
            <div class="col"><h5><strong><%= user.name %></strong></h5></div>
          </div>
          <div class="row">
            <div class="col d-none d-sm-block"><%= user.introduction %></div>
          </div>
        </div>
        <% if user.id == current_user.id %>
        <% else %>
        <div class="col-4">
          <% if current_user.following?(user) %>
            <%= link_to user_relationships_path(user.id), class: 'btntextchange', method: :delete do %>
              <span>フォロー中</span>
              <span>フォロー解除</span>
            <% end %>
          <% else %>
            <%= link_to user_relationships_path(user.id), class: "follow-btn", method: :post do %>
              <span>フォロー</span>
              <span>フォローする</span>
            <% end %>
          <% end %>
        </div>
        <% end %>
      </div>
      <hr>
      <% end %>
    <% elsif @model == "post" %>
      <% @datas.each do |post| %>
      <div class="posts-bg mb-4">
        <div class="row">
          <div class="col-12 col-lg-2">
            <%= link_to user_path(post.user.id) do %>
            <%= attachment_image_tag post.user, :profile_image, :fill, 60, 60, class: "rounded-circle", fallback: "no_image.jpg", size: "50x50" %>
            <% end %>
          </div>
          <div class="col-6 col-md-5"><h5><strong><%= post.user.name %></strong></h5></div>
          <div class="col-6 col-md-4"><%= post.created_at.strftime('%Y/%m/%d') %></div>
        </div>
        <div class="row">
          <div class="col-2"></div>
          <div class="col-10">
            <%= link_to post_path(post.id) do %>
            <%= attachment_image_tag post, :image, format:'jpg', width: '100%', height: '80%' %>
            <% end %>
          </div>
        </div>
        <div class="row">
          <div class="col-2"></div>
          <div class="col-10 py-4 introduction-link"><%= link_to post.introduction, post_path(post.id) %></div>
        </div>
        <div class="row">
          <div class="col-3"></div>
          <div class="col-3 comment-link">
            <%= link_to '', post_path(post.id), class: 'far fa-comment' %> <%= post.post_comments.count %>
          </div>
          <div class="col-3 like-btn<%= post.id %>">
            <%= render partial: 'likes/like-btn', locals: {post: post} %>
          </div>
          <div class="col-3"></div>
        </div>
      </div>
      <% end %>
    <% end %>
    </div>
    <div class="col-2 d-none d-lg-block">
      <%= render 'search/searchbar' %>
    </div>
  </div>
</div>