<div class="contaoner">
  <div class="row my-5">
    <div class="col-3">
      <%= render 'users/sidebar' %>
    </div>
    <div class="col-6">
      <%= render 'users/index', users: @users %>
    </div>
    <div class="col-3">
      <div class="row">
        <div class="col test-center mt-4">
          <%= form_with url:search_path, method: :get, local: true do |f| %>
            <%= f.text_field 'search[value]' %>
            <%= f.select 'search[model]', options_for_select({ "Post" => "post", "User" => "user" }) %>
            <%= f.select 'search[how]', options_for_select({ "キーワード" => "partical", "完全一致" => "match" }) %>
            <%= f.submit :'検索' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>