<div class="container-fluid">
  <div class="row py-5">
    <!--サイドバー一覧-->
    <div class="col-3">
      <div class="row sidebar">
        <%= render 'users/sidebar' %>
      </div>
    </div>
    <div class="col-6">
      <%= render 'users/profile', user: @user %>
      <div class="row">
        <ul class="col user-tabs">
          <li class="active"><%= link_to "投稿", user_path(@user.id) %></li>
          <li><%= link_to "いいね", user_likes_path(@user.id) %></li>
        </ul>
      </div>
      <!--ログインユーザーが投稿した一覧-->
      <%= render 'posts/index', posts: @posts %>
    </div>
    <!--検索機能-->
    <div class="col-3 d-none d-lg-block">
      <%= render 'search/searchbar' %>
    </div>
  </div>
</div>