<div class="container">
  <div class="row">
    <div class="col"></div>
    <div class="col-6">
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <div class="row">
        <div class="col">
          <%= render "devise/shared/error_messages", resource: resource %>
        </div>
      </div>
      <div class="row">
        <div class="col field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>
      </div>
      <div class="row actions">
        <div class="col">
          <%= f.submit "Send me reset password instructions" %>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <%= render "devise/shared/links" %>
        </div>
      </div>
      <% end %>
    </div>
    <div class="col"></div>
  </div>
</div>




