<div class="container-fluid font-family investment min-vh-100 app-info">
  <div class="row pt-5">
    <div class="col text-center">
      <h2>あなたの合う投資先は？</h2>
      <p>何が自分にあった投資なのか、チャートでチェックしてみまましょう！</p>
    </div>
  </div>
  <div class="row pt-2">
    <div class="col-3"></div>
    <div class="col-12 col-lg-6">
      <div class="row text-center">
        <div class="col"><h6 class="under-line">安定した収入がある</h6></div>
      </div>
      <div class="row pt-3 text-center">
        <div class="col-2"></div>
        <div class="col" id="question1-yes-show"><span class="btn btn-outline-dark">YES</span></div>
        <div class="col" id="question1-no-show"><span class="btn btn-outline-dark">NO</span></div>
        <div class="col-2"></div>
      </div>
    </div>
    <div class="col-3"></div>
  </div>
  <div class="row">
    <div class="col-3"></div>
    <div class="col-12 col-lg-6">
      <div class="row pt-5 text-center">
        <div class="col time-modal"><h6 class="under-line">忙しいので運用に時間をかけたくない</h6></div>
        <div class="col life-modal"><h6 class="under-line">６ヶ月〜1年分の生活費の予備資金がある</h6></div>
      </div>
      <div class="row pt-3 text-center">
        <div class="col-2"></div>
        <div class="col time-modal" id="question2-yes-show"><span class="btn btn-outline-dark">YES</span></div>
        <div class="col time-modal" id="question2-no-show"><span class="btn btn-outline-dark">NO</span></div>
        <div class="col life-modal" id="question3-yes-show"><span class="btn btn-outline-dark">YES</span></div>
        <div class="col life-modal" id="question3-no-show"><span class="btn btn-outline-dark">NO</span></div>
        <div class="col-2"></div>
      </div>
    </div>
    <div class="col-3"></div>
  </div>
  <div class="row">
    <div class="col-3"></div>
    <div class="col-12 col-lg-6">
      <div class="row pt-5 text-center">
        <div class="col down-modal"><h6 class="under-line">値下がりしても落ち着いていられる</h6></div>
        <div class="col company-modal"><h6 class="under-line">企業の業績を調べるのが好きだ</h6></div>
        <div class="col regular-modal"><h6 class="under-line">毎月、定期預金の積み立てをしている</h6></div>
      </div>
      <div class="row pt-3 text-center">
        <div class="col-2"></div>
        <div class="col down-modal" id="question4-yes-show"><span class="btn btn-outline-dark">YES</span></div>
        <div class="col down-modal" id="question4-no-show"><span class="btn btn-outline-dark">NO</span></div>
        <div class="col company-modal" id="question5-yes-show"><span class="btn btn-outline-dark">YES</span></div>
        <div class="col company-modal" id="question5-no-show"><span class="btn btn-outline-dark">NO</span></div>
        <div class="col regular-modal" id="question6-yes-show"><span class="btn btn-outline-dark">YES</span></div>
        <div class="col regular-modal" id="question6-no-show"><span class="btn btn-outline-dark">NO</span></div>
        <div class="col-2"></div>
      </div>
    </div>
    <div class="col-3"></div>
  </div>
  <div class="row pt-5 text-center">
    <div class="col trust-modal"><h2 class="number-title"><span class="number">01</span>投資信託(国内外株式)</h2></div>
    <div class="col stock-modal"><h2 class="number-title"><span class="number">02</span>株式・REIT</h2></div>
    <div class="col asset-modal"><h2 class="number-title"><span class="number">03</span>投資信託(資産分散型)</h2></div>
    <div class="col nisa-modal"><h2 class="number-title"><span class="number">04</span>個人向け国債つみたてNISA</h2></div>
    <div class="col deposit-modal"><h2 class="number-title"><span class="number">05</span>投資の前に定期預金の積み立てから</h2></div>
  </div>
  <div class="row pt-2 pb-5 text-center">
    <div class="col trust-modal">
      <span class="btn btn-outline-dark close-modal mr-3">もう一度診断をする</span>
      <%= link_to '特徴や情報', trust_path, class: 'btn new-btn' %>
    </div>
    <div class="col stock-modal">
      <span class="btn btn-outline-dark close-modal mr-3">もう一度診断をする</span>
      <%= link_to '特徴や情報', stock_path, class: 'btn new-btn' %>
    </div>
    <div class="col asset-modal">
      <span class="btn btn-outline-dark close-modal mr-3">もう一度診断をする</span>
      <%= link_to '特徴や情報', asset_path, class: 'btn new-btn' %>
    </div>
    <div class="col nisa-modal">
      <span class="btn btn-outline-dark close-modal mr-3">もう一度診断をする</span>
      <%= link_to '特徴や情報', nisa_path, class: 'btn new-btn' %>
    </div>
    <div class="col deposit-modal pb-5">
      <span class="btn btn-outline-dark close-modal mr-3">もう一度診断をする</span>
      <%= link_to '特徴や情報', deposit_path, class: 'btn new-btn' %>
    </div>
  </div>
</div>