<div class="container min-vh-100">
  <%= form_with model: @post, local:true do |f| %>
  <div class="row py-5">
    <div class="col-2"></div>
    <div class="col-8">
      <div class="row pb-4">
        <div class="col-2"><%= link_to '', post_path(@post.id), class: 'all-btn fas fa-times fa-2x' %></div>
        <div class="col-6"><h4>投稿内容を編集</h4></div>
        <div class="col-2"><%= f.submit '保存', class: 'btn new-btn' %></div>
      </div>
      <div class="row">
        <label>
        <div class="col">
          <i class="fas fa-image fa-3x"></i>
          <%= f.attachment_field :image, placeholder: "image", class: 'image-up-none' %>
        </div>
        </label>
      </div>
      <div class="row">
        <div class="col">
          (最大300文字数)<br>
          <%= f.text_area :introduction, placeholder: "金融リテラシーをあげていきましょう！", size: "30x5", class: "js-text form-control" %>
          <P class="js-text-count pull-right"></P>
        </div>
  <% end %>
      </div>
    </div>
    <div class="col-2"></div>
  </div>
</div>